<ul class="accordion">
  <li class="accordion-item">
    <button class="accordion-item-heading" aria-expanded="false" aria-controls="section-1">
      <div class="accordion-item-title">Section 1 title</div>
    </button>
    <div id="section-1" class="accordion-item-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </li>
  <li data-accordion-item class="accordion-item">
    <button class="accordion-item-heading" aria-expanded="false" aria-controls="section-2">
      <div class="accordion-item-title">Section 2 title</div>
    </button>
    <div id="section-2" class="accordion-item-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </li>
  <li data-accordion-item class="accordion-item">
    <button class="accordion-item-heading" aria-expanded="false" aria-controls="section-3">
      <div class="accordion-item-title">Section 3 title</div>
    </button>
    <div id="section-3" class="accordion-item-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </li>
</ul>